fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
pydantic-settings
httpx
python-dotenv
redis>=4.2.0
huggingface_hub
requests
pytest
cryptography
celery
python-jose[cryptography]
passlib[bcrypt]
pytest-asyncio
